version: "3.9"

services:
  web:
   image: hemanth2113/codedaddy:latest
   command: uvicorn server.main:app --host 0.0.0.0 --port 8000 --workers 1
   env_file:
    - /app/codedaddy/.env
   ports:
    - "8000:8000"
   restart: unless-stopped


  worker:
    image: hemanth2113/codedaddy:latest
    command: rq worker github_prs pr_context_queue
    env_file:
      - /app/codedaddy/.env
    restart: unless-stopped
