uvicorn
requests
python-jose
pyjwt
pyjwt[crypto]
cryptography
sqlalchemy
asyncpg
pydantic_settings
redis
rq
tree_sitter==0.20.4
qdrant-client==1.15.1

langchain-google-genai
langchain
langgraph
fastapi[standard]
tree_sitter_languages
networkx
rq
boto3